@model Formularz.Models.Dane

@{
    ViewData["Title"] = "Wynik";
}

<h1>Rejestracja zakończona pomyślnie!</h1>
<p>Dziękujemy za rejestrację, @Model.Imie @Model.Nazwisko.</p>
<p>Wysłaliśmy potwierdzenie na adres: @Model.Email.</p>
